# Compiled class file
*.class
*.idea
*.iml
*target
# Log file
*.log
*.cmake
CMakeCache.*
CMakeFiles*
Makefile
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/lmq-java-demo/lmq-java-demo.iml
